.logo h1 a{
    text-decoration: none;
    color:white;
  }
.mainpaper{
    display: grid;
    padding:0 5%;
    padding-bottom: 2%;
    padding-top: 6%;
   
    
    
}
.allPapers{
    margin-top:2%;
    padding:3% 0;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    border-width: 15px;
   border-radius: 20px;
   box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #0079df, 0 0 15px rgb(5, 62, 5),
    0 0 20px #0079df, 0 0 25px rgb(5, 62, 5);
   background-image: url("PracticeME copy/images/🦆 icon _cloud download outline_.png");
  
  
}

h2{
    font-weight: 100em;
}


.allPapers h1{
    color:rgba(255, 255, 255, 0.87);
    font-weight: 200;
}
.allPapers h2{
    color:white;
    font-weight: 200;
}
.allPapers h3{
    color:#00df64;
    font-weight:200;
    font-size: 1.2em;
}
.years h3{
    color:rgba(255, 255, 255, 0.606);
    font-size:1.2em
   
}
.allPapers a{
    text-decoration: none;
}
.allPapers h3:hover{
    transform: scale(1.1,1.1);
}
.allPapers .years h3:hover{
    transform: none;
}

h2{
    text-align: center;
    font-weight: 200;
   
}
.mainpaper h1{
    margin-top: -5%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: 200;
}

@media all and (max-width:1200px){
    .mainpaper h2{
        font-size:1.2em;
    }
    .mcq h2,.paper1 h2,.paper2 h2,.years h2{
        font-size:1em;
    }
    .years h3{
        font-size:.9em;
    }
    .mcq a h3,.paper1 a h3,.paper2 a h3{
        font-size:.9em;
    }
    .allPapers{
        margin-top: 5%;
        
   
    }
    

}



@media all and (max-width:600px){
    .mainpaper{
        margin-top: 5%;
    }
    .mainpaper h2{
        font-size:1em;
    }
    .allPapers{
        margin-top: 5%;
        font-size: .7em;
        margin-bottom: 5%;
    }
    h1{
        font-size: 1.2em;
    }
    .mainpaper{
        margin-top: 15%;
        margin-bottom:10%;
    }
    footer{
        margin-top:5%;
    }

   
    
}



    

    

    

    

   
   
       
   




